/*=========
Font load
===========*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400;1,700&display=swap');

$body-font: 'Roboto';
$heading: 'space-grotesk';
/*=========
Color Code
===========*/
$body-color: #323232;
$base-color: #a3cc01;
$base-color-2: #cbbc9d;

