//Brand Slider 
.arc5-brand-slider {
    padding: 0px 0px 80px 0; 
}
.arc5-brand-list {
    .owl-stage {
        display: flex; 
        align-items: center;
    }
    img {
        width: 100px;
    }
}