//Testimonial 
.arc5-tst-top-img {
    position: relative; 
    img {
        position: absolute; 
        top: -250px; 
        left: 0; 
        width: 300px;
        z-index: 10;
    }
}
.arc5-testimonial-section {
    background-size: cover; 
    background-repeat: no-repeat;
    position: relative;
    padding-bottom: 60px;
    .arc5-tst-shape {
        width: 120px; 
        position: absolute; 
        right: -30px; 
        bottom: 0;
    }
    .arc5-overlay-bg {
       background-color: rgba(251, 237, 237, 0.6);
       padding: 110px 0; 
       height: 800px;
       @include large-screen {
           height: auto;
           padding-bottom: 0;
       }
       @include medium-screen {
           padding-bottom: 110px;
       }
    }
    .arc5-title-area {
        text-align: center;
    }
}

.arc5-testimonial-slider {
    margin-top: 60px;
    .owl-dots {
        text-align: center;
        position: absolute; 
        bottom: 35%; 
        left: 70px;
        @include large-screen {
            display: none !important;
        }
        @include small-screen {
            display: block !important;
            bottom: -60px;
        }
        .owl-dot {
            display: inline-block; 
            span {
                width: 10px; 
                height: 10px; 
                background-color: $primary-color; 
                border-radius: 50%; 
                margin-right: 10px;
                display: inline-block;
            }
        }
        .active {
            span {
                width: 30px;
                border-radius: 10px;
            }
        }
    }
    .single-item {
        .arc5-tst-content {
            padding-right: 100px;
            @include medium-screen {
                padding-right: 0;
            }
            span {
                color: $primary-color;
                font-size: 48px;
                margin-right: 10px;
            }
            h2 {
                display: inline-block;
                margin-bottom: 30px;
            }
            p {
                color: $heading-color;
            }
        }
        .arc5-tst-bottom {
            padding-left: 65px;
        }
        .arc5-designation {
            margin-top: 30px;
            span {
                color: $heading-color; 
                font-size: 16px;
                margin-top: 5px;
                display: block;
            }
        }
        .arc5-client-img {
            @include small-screen {
                display: none;
            }
        }
    }
}
